.rockets {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #eee;
  border-radius: 1rem;
}

.rockets__name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rockets__img {
  border-radius: 50%;
  height: 250px;
  min-width: 250px;
  outline-offset: 0.5rem;
  background-color: #161616;
}

.rockets__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  width: 10rem;
}

.rockets__description {
  font-size: larger;
}

.cancel-button {
  background-color: red;
  color: white;
  border: 1px solid red;
}

.cancel-button:hover {
  background-color: #ff3636;
  color: white;
  border: 1px solid red;
}

.rockets__reserved {
  background-color: #ff3636;
  color: white;
  border: 1px solid #ff3636;
  font-weight: 600;
}
